<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :product, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :priority, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :questiontype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :questiontype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :favorite, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :favorite, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :accellink, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :accellink, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hardielink, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hardielink, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :youtubelink, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :youtubelink, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
