<div class = "span-24 box">
	<%= form_for(@question) do |f| %>
	  <% if @question.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
	
	      <ul>
	      <% @question.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="field">
	    <%= f.label :question %><br />
	    <%= f.text_field :question %>
	  </div>
	  <div class="field">
	    <%= f.label :answer %><br />
	    <%= f.text_field :answer %>
	  </div>
	  <div class="field">
	    <%= f.label :product %><br />
	    <%= f.number_field :product %>
	  </div>
	  <div class="field">
	    <%= f.label :priority %><br />
	    <%= f.number_field :priority %>
	  </div>
	  <div class="field">
	    <%= f.label :user %><br />
	    <%= f.number_field :user %>
	  </div>
	  <div class="field">
	    <%= f.label :questiontype %><br />
	    <%= f.text_field :questiontype %>
	  </div>
	  <div class="field">
	    <%= f.label :favorite %><br />
	    <%= f.check_box :favorite %>
	  </div>
	  <div class="field">
	    <%= f.label :accellink %><br />
	    <%= f.check_box :accellink %>
	  </div>
	  	  <div class="field">
	    <%= f.label :hardielink %><br />
	    <%= f.check_box :hardielink %>
	  </div>
	  	  <div class="field">
	    <%= f.label :youtubelink %><br />
	    <%= f.check_box :youtubelink %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
</div><!--End Span-24.-->