<div class = "span-24 box">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <b>Question:</b>
	  <%= @question.question %>
	</p>
	
	<p>
	  <b>Answer:</b>
	  <%= @question.answer %>
	</p>
	
	<p>
	  <b>Product:</b>
	  <%= @question.product %>
	</p>
	
	<p>
	  <b>Priority:</b>
	  <%= @question.priority %>
	</p>
	
	<p>
	  <b>User:</b>
	  <%= @question.user %>
	</p>
	
	<p>
	  <b>Type:</b>
	  <%= @question.questiontype %>
	</p>
	
	<p>
	  <b>Favorite:</b>
	  <%= @question.favorite %>
	</p>
	
	
	<%= link_to 'Edit', edit_question_path(@question) %> |
	<%= link_to 'Back', questions_path %>
</div><!--End Span-24.-->
