<%= form_for @inquiry, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :inquiry, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inquiry, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :actiontaken, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :actiontaken, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :question, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                inquiries_path, :class => 'btn' %>
  </div>
<% end %>
