<!--<h1>Listing products</h1>-->
 	<div class = "span-24 last box">
       		<%=render 'layouts/menu' %>
	</div> <!--End span-24 box.-->

<div class = "span-24 last box">
<table>
  <tr>
    <th>Name</th>
    <th>Product's Page</th>
    <th>Install Instruction</th>
    <!--<th>Video</th>-->
  </tr>

<% @products.each do |product| %>
  <tr class= "<%= cycle("rowA", "rowB")%>">
    <td><%= product.name %></td>
    <td><%= link_to("Product Page!", product)%></td>
	<td><%= link_to("Let's Go!", url_with_protocol(product.installinstruction),:target => :blank, :class => "letsgo_button round" )%></td>
	<%if can? :update, product%>
	    <td><%= link_to 'Show', product %></td>
	    <td><%= link_to 'Edit', edit_product_path(product) %></td>
	<%end%>
    			
	<%if can? :destroy, product%>
		<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
  </tr>
<% end %>
</table>
</div><!--End span-24 box.-->
<br />

<%= link_to 'New Product', new_product_path %>
