		<div id= "header"><!--Start header.-->
			<div id="nav">
			<div class = "span-24" style="background-color:#fff">
				<div class = "span-3 append-9">
					<% logo = image_tag("iHardie2.png", :alt => "www.ihardie.com") %>
					<%= link_to logo, root_path %>

				</div><!--End Span-12.-->
				
				<div class = "span-12 last">
					<ul>
					<%= link_to_unless_current "Home",     root_path %> |
			        <%= link_to_unless_current "About",	   about_path %> |
			        <%= link_to_unless_current "Contact",  contact_path %> |
			        <%if user_signed_in?%>
			        Welcome: <%=current_user.email%>. Not you?
			        <%=link_to "Sign out", destroy_user_session_path, :method => :delete %> 
			        <%else%>
			        <%=link_to "Sign up", new_user_registration_path%> or <%=link_to "Sign in", new_user_session_path%>
			        <%end%>
			        </ul>
				</div><!--End Span-12.-->			
		        </div><!--End span-24.-->
			</div>	<!--End nav.-->
		</div><!--End header.-->